<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" />
    <title>DeathQuizz</title>
</head>
<body>
<h1 th:text="|Death Quizz|">title</h1>
<div class="parchemin">
    <p th:text="|Attention|"> Attention</p>
    <p th:text="|En entrant sur DeathQuizz, vous vous engagez à ne pas poursuivre en justice DeathQuizz suite à des séquelles physiques et/ou psychologiques. En appuyant sur le bouton ci-dessous, vous entrez en enfer.|">En entrant sur DeathQuizz, vous vous engagez</p>
    <p id='blink'>Êtes-vous inconscient ?</p>
    <form class="form" id="nameForm" th:action="@{/question}" method="get">
            <input type="text" name="username" required>
            <input class="button1" type="submit" value="Je suis inconscient">
        </form>
</div>
<script type="text/javascript" th:src="@{/js/blink.js}"></script>
</body>
</html>
